<mtapp:setting
    id="reblog_restrict_reblog"
    label="<__trans phrase="&quot;Manage Reblog&quot; access">"
	hint="Role required to use &quot;Manage Reblog&quot; screen"
	show_hint="1">
	<select name="restrict_reblog" id="reblog_restrict_reblog">
	<option value="system_administrator" <mt:if var="restrict_reblog"> selected="selected"</mt:if>>System Administrator</option>
	<option value="0" <mt:unless var="restrict_reblog"> selected="selected"</mt:unless>>Blog Administrator</option>
	</select>
</mtapp:setting>

<mtapp:setting
    id="reblog_restrict_sourcefeeds"
    label="<__trans phrase="&quot;Manage Sourcefeeds&quot; access">"
	hint="Role required to use &quot;Manage Sourcefeeds&quot; screen"
	show_hint="1">
	<select name="restrict_sourcefeeds" id="reblog_restrict_sourcefeeds">
	<option value="system_administrator" <mt:if var="restrict_sourcefeeds"> selected="selected"</mt:if>>System Administrator</option>
	<option value="0" <mt:unless var="restrict_sourcefeeds"> selected="selected"</mt:unless>>Blog Administrator</option>
	</select>
</mtapp:setting>
